* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #fff;
}

.wrapper {
  width: 550px;
  height: auto;
  margin: 50px auto;
  border: 1px solid #eee;
}

.content-container {
  padding: 35px;
}

header {
  height: 65px;
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, #03045e 1.18%, #023e8a 100%);
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 25px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap: 17px;
}

.form > input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-submit {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #03045e 1.18%, #023e8a 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  text-indent: -5px;
}

.memeImage {
  height: auto;
  max-width: 100%;
  margin: 36px auto;
}






.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 50px;
}

.top {
  top: 30px;
}